@page "/inspection"
@using MauiBlazorApp.Data;
@using MauiBlazorApp.Model.ViewModels;
@using Microsoft.AspNetCore.Authorization;
@implements IDisposable
@inject IJSRuntime JS
@inject DataService service
@attribute [Authorize]

<h2>Inspection Files</h2>
<p>List of Inspection Files</p>
<button class="btn btn-primary mb-2" type="button" @onclick="RefreshData">Refresh</button>
@if(Inspections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table" id="frcm_table">
        <thead>
            <tr>
                <th>caseID</th>
                <th>caseNo</th>
                <th>projectNo</th>
                <th>plotNo</th>
                <th>fullName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var inspection in Inspections)
            {
                <tr>
                    <td>@inspection.caseID</td>
                    <td>@inspection.caseNo</td>
                    <td>@inspection.projectNo</td>
                    <td>@inspection.plotNo</td>
                    <td>@inspection.fullName</td>
                </tr>
            }
        </tbody>
    </table>
}
 @if (!internetConnection)
{
    <div class="alert alert-danger">
        Please Check your Connectivity !!
    </div>
}

@code{
    List<InspectionResponseModel> Inspections { get; set; }
    private bool internetConnection { get; set; } 
    protected override async void OnInitialized()
    {
        await RefreshData();
        StateHasChanged();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if(Inspections != null)
        {
            await JS.InvokeVoidAsync("window.DataTables3.destroyDataTable");
            await JS.InvokeVoidAsync("window.DataTables3.buildDataTable");
        }
    }
    public async void Dispose()
    {
        await JS.InvokeVoidAsync("window.DataTables3.destroyDataTable");
    }
    private async Task RefreshData()
    {
        //Inspections = ApplicationDataService.GetInspections();
        if (Connectivity.NetworkAccess != NetworkAccess.Internet)
        {
            internetConnection = false;
        }
        else
        {
            internetConnection = true;      
        }
        Inspections = await service.GetData();
        
        
    }
}